@charset "UTF-8";
/*Utilisation du pattern 7-1 pour les fichiers sass*/
/*Imports*/
/*Web site color*/
/*logo color*/
/*logo color*/
/*logo color*/
/*Mixins*/
/* HOME - items animaiton*/
/*Bases*/
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

/*Layout of header, main and footer*/
main {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #FFF;
  font-weight: 800;
}

/*Bases of the web site, fonts*/
/* Font Didact Gothic from Google Fonts */
/* Font Poppins from Google Fonts */
/* Font Roboto from Google Fonts */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 10px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

h6 {
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h7 {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

p {
  margin-top: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.p-carousel {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.p-white {
  margin-top: 5px;
  font-size: 16px;
  color: #FFF;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.p-white--lightCenter {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.p-white--big {
  font-size: 18px;
}

.p-blue {
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
  color: #193863;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}
/*Définition du header*/
.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  background-color: #193863;
}
.header__part1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
}
.header__part1__logo img {
  padding: 10px;
  width: 80px;
  height: auto;
}
.header__part1__title {
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: 20px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.header__nav__ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
}
.header__nav__ul__li {
  font-size: 16px;
  margin-right: 20px;
}
.header__nav__ul__li:hover {
  font-family: "Poppins";
  font-weight: 700;
}

/*media quieries mobile*/
@media screen and (max-width: 992px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__part1 {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__part1__logo img {
    padding: 10px;
    width: 100px;
    height: auto;
  }
  .header__part1__title {
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    margin-left: 0px;
  }
  .header__nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav__ul {
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav__ul__li {
    margin-right: 0px;
  }
  .header__nav__btn--donate {
    margin: 0px;
  }
}
/*Définition du footer*/
.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #193863;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__blocs {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__blocs__bloc {
  width: 300px;
}

.footer__text:visited {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

.copyright {
  font-size: 12px;
  margin-top: 50px;
  color: #FFF;
}

/*media quieries mobile*/
@media screen and (max-width: 992px) {
  .footer {
    padding: 0px;
  }
  .footer__blocs {
    flex-direction: column;
  }
  .footer__blocs__bloc {
    width: 280px;
    margin-bottom: 25px;
  }
}
/*btn donate*/
.btnDonate {
  background-color: #193863;
  border: 2px solid #fff;
  color: white;
  padding: 5px 25px 5px 25px;
  margin-right: 25px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}
.btnDonate--end {
  margin: 0px;
  width: 180px;
  height: 60px;
  font-size: 24px;
  text-align: center;
}

.btnDonate:hover {
  background-color: #ff6200ff;
}

@media screen and (max-width: 992px) {
  .btnDonate {
    margin: 0px;
  }
}
/*btnBrief*/
.btnServices {
  background-color: #1c6cac;
  border: 2px solid #fff;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}

.btnServices:hover {
  background-color: #193863;
}

/*bnt send an e-mail*/
.btnSend {
  box-sizing: border-box;
  background-color: #193863;
  border: 2px solid #fff;
  color: white;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}

.btnSend:hover {
  background-color: #ff6200ff;
}

/*btn : click on card*/
.card-ghana {
  width: 280px;
  height: 500px;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0px 5px 20px #193863;
}
.card-ghana a {
  color: #333;
  text-decoration: none;
}
.card-ghana:hover .card-image img {
  width: 125%;
  filter: grayscale(0);
}

.card-image {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width;
  transition-duration: 0.3s;
}

.card-body {
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.card-subtitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.card-title,
.card-exceprt {
  font-family: "Poppins", serif;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}

.card-subtitle,
.card-excerpt {
  color: #777;
}

/*Card team*/
/*btn : click on card*/
.card-team {
  width: 250px;
  height: 340px;
  margin: 30px;
  background-color: white;
  box-shadow: 0px 2px 10px black;
}
.card-team a {
  color: #333;
  text-decoration: none;
}
.card-team:hover .card-team-image img {
  width: 125%;
  filter: grayscale(0);
}

.card-team-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.card-team-image img {
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width;
  transition-duration: 0.3s;
}

.card-team-body {
  text-align: center;
  padding: 15px 15px;
  box-sizing: border-box;
}

.card-team-subtitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.card-team-title,
.card-team-exceprt {
  font-family: "Poppins", serif;
}

.card-team-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}

.card-team-subtitle,
.card-team-excerpt {
  color: #777;
}

/*Carousel style*/
.carousel-content {
  box-sizing: border-box;
  margin-left: 90px;
  margin-right: 90px;
}

/*Bootstrap class*/
.carousel {
  margin-bottom: 100px;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  top: 0px;
}

.d-block {
  height: 600px;
}

img {
  object-fit: cover;
}
img--home {
  margin-top: 40px;
}

/*Mobile version*/
@media screen and (max-width: 992px) {
  .carousel-content {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .content-slide-1 {
    display: none;
  }

  .d-block {
    height: 400px;
  }

  .carousel-caption {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block !important;
  }

  img--home {
    margin-top: 60px;
  }
}
.carousel-partner {
  position: relative;
}
.carousel-partner__image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.carousel-partner__image img {
  height: 140px;
  width: auto;
}
.carousel-partner__item {
  height: 350px;
  width: 300px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: none;
  background-color: #1c6cac;
  margin: 0px auto;
  box-shadow: 0px 5px 20px #193863;
}
.carousel-partner__item__content {
  height: 40%;
}

.carousel-partner__item--selected {
  display: block;
}

.carousel-partner__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-partner__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-partner__button--selected {
  background: rgba(0, 0, 0, 0.5);
}

/*fichiers scss pour les éléments selon les pages*/
/*Page d'accueil */
/*Section ABOUT US*/
.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  margin: 0px;
}
.home__keywords {
  padding-left: 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.home__keywords__text {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 60%;
}
.home__keywords__text__4i {
  font-size: 32px;
  font-weight: 800;
}
.home__keywords__map {
  margin-top: -45px;
}
.home__desc {
  box-sizing: border-box;
  padding: 90px;
  align-self: center;
}
.home__desc__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
.home__desc__item__icon {
  color: #1c6cac;
  width: 60px;
  font-size: 40px;
  height: 80px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__desc__item__text {
  text-align: center;
  width: 600px;
  height: 80px;
  font-size: 20px;
  font-family: "Poppins";
  padding-bottom: 10px;
  position: relative;
}
.home__desc__item__text:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 5px;
  bottom: 0;
  left: 35%;
  border-bottom: 3px solid #1c6cac;
}

/*Section title and paragraph*/
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6200ff;
  width: 200px;
  margin-top: -20px;
}

.section-paragraph {
  text-align: justify;
  width: 50%;
  margin-right: 10%;
}
.section-paragraph--us {
  margin-right: 0px;
}
.section-paragraph--illustration {
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Section application*/
.services {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1c6cac;
}
.services__content {
  padding-left: 90px;
  padding-right: 90px;
}
.services__content__platform {
  display: flex;
  flex-direction: row;
}
.services__content__platform__desc {
  text-align: justify;
  margin-left: 10%;
}
.services__content__platform__desc__build {
  margin-top: 50px;
}
.services__content__platform__desc__countries {
  margin-top: 20px;
}
.services__content__brief {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.services__content__brief__extrait {
  text-align: justify;
  width: 50%;
  font-style: italic;
}
.services__content__brief__access {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  height: 120px;
}
.tech__logo {
  height: 50px;
  width: auto;
  margin-right: 5%;
}

.countries {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
}

/**************** About us section *****************/
.us {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #193863;
}
.us__content {
  padding-left: 90px;
  padding-right: 90px;
}
.us__content__bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meetTheTeam {
  margin: 50px;
}

/**************** End of the About us section *****************/
/**************** Contact section "Get in touch!"*****************/
.contact {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.contact__content {
  padding-left: 90px;
}
.contact__content__desc {
  display: flex;
  flex-direction: row;
}
.contact__content__desc__question {
  width: 40%;
  height: 400px;
}
.contact__content__desc__question__doyou {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 50px;
}
.contact__content__desc__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: -28.8px;
  background-color: #ff6200ff;
  height: 450px;
}

/**************** End of the Contact section *****************/
/**************** Donate section *****************/
.donate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #193863;
  height: 200px;
  width: 100%;
}

/**************** End of the Donate section *****************/
/**************** Mobile version *****************/
@media screen and (max-width: 992px) {
  .home__keywords {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
  }
  .home__keywords__text {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 90%;
  }
  .home__keywords__text__4i {
    font-size: 40px;
    font-weight: 800;
  }
  .home__keywords__map {
    padding: 0px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .home__keywords__map img {
    width: 300px;
    height: auto;
  }
  .home__desc {
    box-sizing: border-box;
    padding: 0px;
    margin-top: 20px;
    align-self: center;
  }
  .home__desc__item__icon {
    width: 40px;
    font-size: 30px;
    height: 80px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__desc__item__text {
    text-align: center;
    width: 300px;
    height: 80px;
    font-size: 16px;
    font-family: "Poppins";
    position: relative;
  }

  .section-paragraph {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px;
  }
  .section-paragraph--illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .services__content {
    box-sizing: border-box;
    padding: 5%;
    margin-top: -20px;
  }
  .services__content__platform {
    display: flex;
    flex-direction: column;
  }
  .services__content__platform__desc {
    margin: 30px 0px 0px 0px;
  }
  .services__content__brief {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .services__content__brief__extrait {
    text-align: justify;
    width: 100%;
  }
  .services__content__brief__access {
    width: 100%;
  }

  .us__content {
    box-sizing: border-box;
    padding: 5%;
    margin-top: -20px;
  }
  .us__content__bloc {
    display: flex;
    flex-direction: column;
  }
  .us__content__bloc img {
    max-width: 100%;
    height: auto;
  }

  .contact__content {
    box-sizing: border-box;
    padding: 5%;
    margin-top: -20px;
  }
  .contact__content__desc {
    display: flex;
    flex-direction: column;
  }
  .contact__content__desc__question {
    width: 100%;
    height: 200px;
  }
  .contact__content__desc__question__doyou {
    width: 100%;
  }
  .contact__content__desc__form {
    width: 100%;
    height: 350px;
    margin: 0px;
  }

  .meetTheTeam {
    margin: 0px;
    margin-bottom: 50px;
  }
}
/**************** End of the mobile version *****************/
.pageteam {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex;
  flex-wrap: wrap;
  padding: 90px;
}

@media screen and (max-width: 992px) {
  .pageteam {
    padding: 10px;
  }
}
/*Page "Coming son" style*/
.coming-soon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2%;
  position: fixed;
  background-color: #193863;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.coming-soon__title {
  width: 50%;
  font-size: 34px;
  color: #fff;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-soon__img-content {
  width: 50%;
  height: 100%;
}
.coming-soon__img-content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .coming-soon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .coming-soon__title {
    width: 100%;
    font-size: 20px;
    margin: 25px;
  }
  .coming-soon__img-content {
    width: 100%;
    height: 100%;
  }
  .coming-soon__img-content img {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
