/*btn donate*/
.btnDonate {
  background-color: $dark-blue;
  border: 2px solid #fff;
  color: white;
  padding: 5px 25px 5px 25px;
  margin-right: 25px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
  &--end {
    margin: 0px;
    width: 180px;
    height: 60px;
    font-size: 24px;
    text-align: center;
  }
}
.btnDonate:hover {
  background-color: $secondary-color;
}

@media screen and (max-width: 992px) {
  .btnDonate {
    margin: 0px;
  }
}

/*btnBrief*/
.btnServices {
  background-color: $light-blue;
  border: 2px solid #fff;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}
.btnServices:hover {
  background-color: $dark-blue;
}

/*bnt send an e-mail*/
.btnSend {
  box-sizing: border-box;
  background-color: $dark-blue;
  border: 2px solid #fff;
  color: white;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}

.btnSend:hover {
  background-color: $secondary-color;
}

/*btn : click on card*/
$card-width: 280px;
$card-height: 500px;
$image-size: 120%;
$image-height: 300px;

.card-ghana {
  width: $card-width;
  height: $card-height;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0px 5px 20px $dark-blue;
  a {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    .card-image {
      img {
        width: $image-size + 5%;
        filter: grayscale(0);
      }
    }
  }
}

.card-image {
  height: 300px;
  position: relative;
  overflow: hidden;
  img {
    width: $image-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-property: filter width;
    transition-duration: 0.3s;
  }
}

.card-body {
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.card-subtitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.card-title,
.card-exceprt {
  font-family: "Poppins", serif;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}

.card-subtitle,
.card-excerpt {
  color: #777;
}

/*Card team*/
/*btn : click on card*/
$card-team-width: 250px;
$card-team-height: 340px;
$image-team-size: 120%;
$image-team-height: 300px;

.card-team {
  width: $card-team-width;
  height: $card-team-height;
  margin: 30px;
  background-color: white;
  box-shadow: 0px 2px 10px black;
  a {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    .card-team-image {
      img {
        width: $image-size + 5%;
        filter: grayscale(0);
      }
    }
  }
}

.card-team-image {
  height: 200px;
  position: relative;
  overflow: hidden;
  img {
    width: $image-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-property: filter width;
    transition-duration: 0.3s;
  }
}

.card-team-body {
  text-align: center;
  padding: 15px 15px;
  box-sizing: border-box;
}

.card-team-subtitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.card-team-title,
.card-team-exceprt {
  font-family: "Poppins", serif;
}

.card-team-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}

.card-team-subtitle,
.card-team-excerpt {
  color: #777;
}
