/*Page d'accueil */

/*Section ABOUT US*/
.home {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    margin: 0px;
    &__keywords {
        padding-left: 90px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        &__text {
            display: flex;
            flex-direction: column;
            color: $main-color;
            width: 60%;
            &__4i {
                font-size: 32px;
                font-weight: 800;
            }
        }
        &__map {
            margin-top: -45px;
        }
    }
    &__desc {
        box-sizing: border-box;
        padding: 90px;
        align-self: center;
        &__item {
            display: flex;
            flex-direction: row;
            margin-bottom: 60px;
            &__icon {
                color: $light-blue;
                width: 60px;
                font-size: 40px;
                height: 80px;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text {
                text-align: center;
                width: 600px;
                height: 80px;
                font-size: 20px;
                font-family: "Poppins";
                padding-bottom: 10px;
                position: relative;
            }
            &__text:after {
                content: "";
                position: absolute;
                width: 30%;
                height: 5px;
                bottom: 0;
                left: 35%;
                border-bottom: 3px solid $light-blue;
            }
        }
    }
}

/*Section title and paragraph*/
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    width: 200px;
    margin-top: -20px;
}

.section-paragraph {
    text-align: justify;
    width: 50%;
    margin-right: 10%;
    margin-bottom: 100px;
    &--us {
        margin-right: 20px;
        margin-bottom: 25px;
    }
    &--illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left : 100px;
    }
}

/*Section application*/
.services {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $light-blue;
    &__content {
        padding-left: 90px;
        padding-right: 90px;
        &__platform {
            display: flex;
            flex-direction: row;
            &__desc {
                text-align: justify;
                margin-left: 10%;
                &__build {
                    margin-top: 50px;
                }
                &__countries {
                    margin-top: 20px;
                }
            }
        }
        &__brief {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
            &__extrait {
                text-align: justify;
                width: 50%;
                font-style: italic;
            }
            &__access {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.tech {
    @include services-elements;
    justify-content: space-between;
    height: 120px;
    &__logo {
        height: 50px;
        width: auto;
        margin-right: 5%;
    }
}

.countries {
    @include services-elements;
    justify-content: space-around;
}

/**************** About us section *****************/
.us {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $dark-blue;
    &__content {
        padding-left: 90px;
        padding-right: 90px;
        &__bloc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
/**************** End of the About us section *****************/

/**************** Contact section "Get in touch!"*****************/
.contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &__content {
        padding-left: 90px;
        &__desc {
            display: flex;
            flex-direction: row;
            &__question {
                width: 40%;
                height: 400px;
                &__doyou {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin-right: 50px;
                }
            }
            &__form {
                width: 60%;
                margin-top: -28.8px;
                background-color: $secondary-color;
                height: 450px;
            }
        }
    }
}
/**************** End of the Contact section *****************/

/**************** Donate section *****************/
.donate {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $dark-blue;
        height: 200px;
        width: 100%;
    }
}
/**************** End of the Donate section *****************/

/**************** Mobile version *****************/
@media screen and (max-width: 992px) {
    .home {
        &__keywords {
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 100%;
            &__text {
                display: flex;
                flex-direction: column;
                color: $main-color;
                width: 90%;
                &__4i {
                    font-size: 40px;
                    font-weight: 800;
                }
            }
            &__map {
                padding: 0px;
                box-sizing: border-box;
                margin-top: 10px;
                img {
                    width: 300px;
                    height: auto;
                }
            }
        }
        &__desc {
            box-sizing: border-box;
            padding: 0px;
            margin-top: 20px;
            align-self: center;
            &__item {
                &__icon {
                    width: 40px;
                    font-size: 30px;
                    height: 80px;
                    margin-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__text {
                    text-align: center;
                    width: 300px;
                    height: 80px;
                    font-size: 16px;
                    font-family: "Poppins";
                    position: relative;
                }
            }
        }
    }
    .section-paragraph {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0px;
        &--illustration {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left : 0px;
        }
    }

    .services {
        &__content {
            @include section-title-location;
            &__platform {
                display: flex;
                flex-direction: column;
                &__desc {
                    margin: 30px 0px 0px 0px;
                }
            }
            &__brief {
                flex-direction: column;
                margin-bottom: 50px;
                &__extrait {
                    text-align: justify;
                    width: 100%;
                }
                &__access {
                    width: 100%;
                }
            }
        }
    }

    .us {
        &__content {
            @include section-title-location;
            &__bloc {
                display: flex;
                flex-direction: column;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    .contact {
        &__content {
            @include section-title-location;
            &__desc {
                display: flex;
                flex-direction: column;
                &__question {
                    width: 100%;
                    height: 200px;
                    &__doyou {
                        width: 100%;
                    }
                }
                &__form {
                    width: 100%;
                    height: 350px;
                    margin: 0px;
                }
            }
        }
    }
}

/**************** End of the mobile version *****************/
