/*Définition du header*/
.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    background-color: $dark-blue;
    &__part1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 400px;
        &__logo {
            img {
                padding: 10px;
                width: 80px;
                height: auto;
            }
        }
        &__title {
            color: white;
            font-size: 18px;
            font-family: "Poppins";
            font-weight: 600;
            margin-left: 20px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        &__ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            color: white;
            font-family: "Poppins";
            font-weight: 400;
            &__li {
                font-size: 16px;
                margin-right: 20px;
            }
            &__li:hover {
                font-family: "Poppins";
                font-weight: 700;
            }
        }
    }
}

/*media quieries mobile*/
@media screen and (max-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        &__part1 {
            max-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__logo {
                img {
                    padding: 10px;
                    width: 100px;
                    height: auto;
                }
            }
            &__title {
                color: white;
                font-size: 16px;
                font-family: "Poppins";
                font-weight: 600;
                text-align: center;
                margin-left: 0px;
            }
        }
        &__nav {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__ul {
                padding: 0px;
                margin-bottom:20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__li {
                    margin-right: 0px;
                }
            }
            &__btn--donate {
                margin: 0px;
            }
        }
    }
}
